
 
 
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>A Thousand Words!</h2>
        <p>A Thousand Words is a web-based dating service that allows users to decide on their potential matches based on common likes and dislikes, personality traits, and conversation. Users are able to login and create a customized profile with personal description, interests, and pictures.</p>
      </div>
    </div>
 