
 
 
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>A Thousand Word!</h2>
        <p>A Thousand Words is a web-based dating service that would allow users to decide on their potential matches based on common likes and dislikes, personality traits, and conversation. Users would be able to login and create a customized profile with personal description, interests, and pictures.</p>
      </div>
      <%= render "chatroom/messages/chatroom" %>
    </div>
 