// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: white;
  text-align: center;
}

table {
  text-align: center;
  border: 1px solid black;
}

tr {
  font-size: 30px;
}